In [1]:
#  Append and insert
animals = ["cat", "dog", "elephant"]
animals.append("tiger")
animals.insert(0, "lion")
print(animals)

#result: [lion, dog, elephant, tiger]

['lion', 'cat', 'dog', 'elephant', 'tiger']

In [30]:
# remove elements
nums = [1, 22, 3, 4, 2, 5, 6, 2, 7, 8, 9]
nums.pop(4)
#nums.remove(2)
#del nums[3]
nums

[1, 22, 3, 4, 5, 6, 2, 7, 8, 9]

In [14]:
names = ["Alice", "Bob", "Charlie"]
#names.reverse()
print(names[::-1])

['Charlie', 'Bob', 'Alice']

In [21]:
#Merge two lists into a list of tuples

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
s = list1 + list2
print(tuple(s))

(1, 2, 3, 'a', 'b', 'c')

In [24]:
fruits = ['apple', 'banana', 'cherry', 'orange']
# Expected output: 'cherry'
print(f"Expected output: {fruits[-2]}")

Expected output: cherry

In [26]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Expected output: [4, 5, 6]
print(f"Expected output: {numbers[3:6]}")

Expected output: [4, 5, 6]

In [27]:
nums = [1, 2, 3, 4, 5]
nums.append(10)
# Expected output: [1, 2, 3, 4, 5, 10]
nums

[1, 2, 3, 4, 5, 10]

In [32]:
lst = [1, 2, 3, 4]
lst.insert(2,100)
lst
# Expected output: [1, 2, 100, 3, 4]

[1, 2, 100, 3, 4]

In [35]:
numbers = [1, 2, 3, 4, 5]
# Expected output: [1, 2, 4, 5]
numbers.remove(3)
numbers

[1, 2, 4, 5]

In [39]:
lst = [1, 2, 3, 2, 4, 2, 5]
# Expected output: 3
print(lst.count(2))

3

In [40]:
animals = ["dog", "cat", "fish"]
# Expected output: 3
print(len(animals))

3

In [41]:
nums = [1, 2, 3, 4, 5]
# Expected output: True
print(5 in nums)

True

In [44]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
# Expected output: [1, 2, 3, 4, 5, 6]
#list1 = list1 + list2
#list1.append(list2)
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [47]:
lst = [1, 2, 3, 4, 5]
# Expected output: 3
print(lst.index(4))

3

In [50]:
colors = ["red", "green", "blue"]
# Expected output: ['blue', 'green', 'red']
#print(colors[::-1])
colors.reverse()
colors

['blue', 'green', 'red']

In [59]:
numbers = [10, 20, 4, 45, 99]
# Expected output: 
# Smallest: 4
# Largest: 99
largest = max(numbers)
smallest = min(numbers)
#print(f"Smallest: {smallest}","\n", f"Largest: {largest}")
print(f"Smallest: {smallest} \n Largest: {largest}")

Smallest: 4
 Largest: 99

In [61]:
nums = [1, 2, 3, 4, 5]
# Expected output: []
nums.clear()
nums

[]

In [70]:
# Expected output: [10, 10, 10, 10, 10]
list = [10] * 5
list

[10, 10, 10, 10, 10]

In [71]:
# Extract a sublist from index 2 to 5 (inclusive) from a list.

lst = [1, 2, 3, 4, 5, 6, 7]
print(lst[2:6])
# Expected output: [3, 4, 5, 6]

[3, 4, 5, 6]

In [73]:
lst1 = []
lst2 = [1, 2, 3]
not lst2

False

In [74]:
numbers = [1, 2, 3, 4, 5]
# Expected output: 15
print(sum(numbers))

15

In [90]:
nums = [4, 1, 7, 3, 9, 2]
# Expected output: [1, 2, 3, 4, 7, 9]
nums.sort(reverse = True)
nums

[9, 7, 4, 3, 2, 1]

In [95]:
lst = [1, 2, 3, 4, 3, 5]
# Expected output: 2
lst.index(3)

2

In [108]:
lst = [1, 2, 3, 2, 4, 2]
# Expected output: [1, 100, 3, 100, 4, 100]
lst = [100 if x == 2 else x for x in lst]
lst

[1, 100, 3, 100, 4, 100]

In [110]:
lst = [1, 2, 3, 4, 5]
# Expected output: 
# First: 1
# Last: 5
lst[-1]

5

In [112]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
# Expected output: {'a': 1, 'b': 2, 'c': 3}
dict_output = dict(zip(keys,values))
dict_output

{'a': 1, 'b': 2, 'c': 3}

In [114]:
lst = [1, 2, 3, 4, 5, 4]
# Expected output: [1, 2, 3, 5, 4]
lst.remove(4)
lst

[1, 2, 3, 5, 4]

In [127]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
# Expected output: [2, 4, 6, 8]
even_numbers = [num for num in numbers if num % 2 == 0 ]
even_numbers

[2, 4, 6, 8]

In [129]:
numbers = [1, 2, 3, 4]
# Expected output: [1, 4, 9, 16]
sqaures_Numbers = [num **2 for num in numbers ]
sqaures_Numbers

[1, 4, 9, 16]